<!DOCTYPE html>  
 <html>  
      <head>  
           <meta charset="UTF-8"> 
           <title>Autolight</title>  
           <!--Bootstrap stuff-->
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" /> 
           <!--My own styles-->
           <link rel="stylesheet" href="css/app_style.css"/>
           <!--Angular stuff-->
           <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>  
           <!--jquery stuff-->
           <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="jquery.mousewheel.min.js"></script>
            <!--My own JS-->
            <script src="js/calculator.js"></script>
            <script src="js/angular_app.js"></script>
           <style> 
                
           </style>  
      </head>  
      <body id="body" ng-app="myapp" ng-controller="usercontroller">  
           <br /><br />  
           <div class="container" style="width:600px;">  
                <h3 align="center">Расчет стоимости доставки</h3> 
                <!--Destination points-->
                <!--Destination from-->
                <div class="row">
                    <div class="col-md-12" id="from">
                        <label for="cityFromInput">Откуда:</label>  
                        <input id="cityFromInput" type="text" ng-model="cityFrom" ng-keyup="complete(cityFrom, 'from')" class="form-control" />  
                        <ul class="list-group" ng-model="hideFromDestination" ng-hide="hideFromDestination">  
                             <li class="list-group-item" ng-repeat="city in filteredCities" ng-click="fillCityFrom(city)">{{city}}</li>  
                        </ul>  
                    </div>
                </div>
                <br> 
                <!--Destination from end-->
                <!--Destination to--> 
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-12" id="to">
                        <label for="cityToInput">Куда:</label>  
                        <input id="cityToInput" type="text" ng-model="cityTo" ng-keyup="complete(cityTo, 'to')" class="form-control" />  
                        <ul class="list-group" ng-model="hideToDestination" ng-hide="hideToDestination">  
                             <li class="list-group-item" ng-repeat="city in filteredCities" ng-click="fillCityTo(city)">{{city}}</li>  
                        </ul>  
                    </div>
                </div>
                <!--Destionation to end-->
                <!--Destination points end-->
                <!--Delivery type selector-->
                <div class="row">
                    <div class="col-md-12">
                        <div id="deliveryType">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn" ng-click="documentsDeliverySelected()" ng-class="{'btn-primary': isDocuments, 'btn-default': !isDocuments}">Документы</button>
                                <button type="button" class="btn" ng-click="cargoDeliverySelected()" ng-class="{'btn-primary': isCargo, 'btn-default': !isCargo}">Товарное вложение</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Delivery type selector end-->
                
                <br>
                <!--Document weight input section-->
                <form  name="documentsForm" ng-show="isDocuments">
                    <div>
                        <label for="documentParcelWeigth">Вес,кг:</label>
                        <input type="text" id="documentParcelWeigth" placeholder="Максимальный вес 2кг" name="value">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-default" onclick="submitDocumentsForm(devliveryDocumentsPrice)">Рассчитать</button>
                </form>
                <!--document weight input section end-->
                
                <br>
                <form name="cargoForm" ng-show="isCargo">
                    <div>
                        <label for="cargoParcelWeight">Вес,кг:</label>
                        <input id="cargoParcelWeight" placeholder="Максимум 30кг"/>
                    </div>
                    <!--Height parcel section-->
                    <br>
                    <div>
                        <label for="parcelHeight">Высота, см:</label>
                        <input id="parcelHeight" >
                    </div>
                    <!--Height parcel section end-->
                    <br>
                    <!--Width parcel section-->
                    <div>
                        <label for="parcelWidth">Ширина, см:</label>
                        <input id="parcelWidth" required>
                    </div>
                    <!--Width parcel section end-->
                    <br>
                    <!--Depth parcel section--> 
                    <div>
                        <label for="parcelDepth">Длина, см:</label>
                        <input id="parcelDepth" placeholder="Максимум 150см">
                    </div>
                    <!--Depth parcel section end-->
                     <br>
                     <button type="submit" class="btn btn-default" onclick="submitCargoForm(deliveryCargoPrice)">Рассчитать</button>
                </form>
                <p id="resultCostForDocuments" ng-show="isDocuments"></p>
                <br>
                <p id="resultCostForCargo" ng-show="isCargo"></p>

                <br>
           </div>  
           
           
           <!--Angular script-->
           <script>  
                
            </script> 
            <!--Angular script end-->
            
            <!--jquery script-->
            <script>
                /**the function will call if documents weight greater than 2 kg*/
                var callDialog = function(){
                    var confirmResult = window.confirm('Вложение документов весом более 2х кг считается товарным вложением.');
                    if(confirmResult){
                        angular.element(document.getElementById('body')).scope().cargoDeliverySelected();
                        angular.element(document.getElementById('body')).scope().$apply();
                        
                    }
                };    
                
                $('#documentParcelWeigth').spinner({
                    min: 0,
                    max: 30,
                    step: 0.2,
                    spin: function( event, ui ) {
                        var val = $(this).val();
                        if(val > 2){ 
                            callDialog();
                            $(this).spinner({max: 2});
                        }
                        
                    }
                });
                
                $('#cargoParcelWeight').spinner({
                    min: 0,
                    max: 30,
                    step: 0.5
                });
                
                $('#parcelHeight').spinner({
                    min: 0,
                    step: 10
                });
                
                $('#parcelWidth').spinner({
                    min: 0,
                    step: 10
                });
                
                $('#parcelDepth').spinner({
                    min: 0,
                    max: 150,
                    step: 10
                });
                
                
            </script>
            <!--jquery script end-->
            
            <!--Regular JS-->
            <script>
                var resetWeight = function (){
                    console.log('ok');
                    $( "#documentParcelWeigth" ).spinner('value', 1);
                    
                };
            </script>
            <!--End of JS-->
      </body>  
</html> 