<!DOCTYPE html>  
 <html>  
      <head>  
           <meta charset="UTF-8"> 
           <title>Webslesson Tutorial | AngularJS Tutorial - Make Autocomplete Textbox</title>  
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
           <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>  
           <style>  
           li{  
                cursor:pointer;  
           }  
           li:hover  
           {  
                background-color:#f9f9f9;  
           }  
           </style>  
      </head>  
      <body>  
           <br /><br />  
           <div class="container" style="width:500px;">  
                <h3 align="center">AngularJS Tutorial - Make Autocomplete Textbox</h3>  
                <div ng-app="myapp" ng-controller="usercontroller">  
                     <label>Enter Country Name</label>  
                     <input type="text" ng-model="city" ng-keyup="complete(city)" class="form-control" />  
                     <ul class="list-group" ng-model="hidethis" ng-hide="hidethis">  
                          <li class="list-group-item" ng-repeat="city in filteredCities" ng-click="fillTextbox(city)">{{city}}</li>  
                     </ul>  
                </div>  
           </div>  
           
           
           
           <script>  
                var app = angular.module("myapp",[]);  
                
                app.controller("usercontroller", function($scope){  
                $scope.cities = [
                    "Аксаковщина д. Минская обл., Минский р-н, Горанский с/с",
                    "Андреевщина д. Витебская обл., Оршанский р-н, Андреевщинский с/с",
                    "Антоновка д. Гомельская обл., Калинковичский р-н, Горбовичский с/с",
                    "Антоново д. Брестская обл., Барановичский р-н, Колпеницкий с/с",
                    "Антополь гп Брестская обл., Дрогичинский р-н",
                    "Бабиничи аг. Витебская обл., Оршанский р-н, Бабиничский с/с",
                    "Байдаки д. Минская обл., Минский р-н, Горанский с/с",
                    "Барановичи г. Брестская обл.",
                    "Барань г. Витебская обл., Оршанский р-н",
                    "Бацевичи аг. Могилевская обл., Кличевский р-н, Бацевичский с/с",
                    "Бегомль гп Витебская обл., Докшицкий р-н",
                    "Белица д. Гомельская обл., Жлобинский р-н, Лукский с/с",
                    "Белоозерск г. Брестская обл., Березовский р-н",
                    "Белыничи гп Могилевская обл., Белыничский р-н",
                    "Белькишки д. Гродненская обл., Островецкий р-н, Островецкий с/с",
                    "Бельчица д. Витебская обл., Полоцкий р-н, Экиманский с/с",
                    "Бенякони аг. Гродненская обл., Вороновский р-н, Беняконский с/с",
                    "Береза г. Брестская обл., Березовский р-н",
                    "Березино г. Минская обл., Березинский р-н",
                    "Березки д. Гомельская обл., Гомельский р-н, Улуковский с/с",
                    "Березовичи д. Могилевская обл., Бобруйский р-н, Слободковский с/с",
                    "Березовка г. Гродненская обл., Лидский р-н",
                    "Берёзовка д. Могилевская обл., Могилевский р-н, Полыковичский с/с",
                    "Бешенковичи гп Витебская обл., Бешенковичский р-н",
                    "Бибики д. Гомельская обл., Мозырьский р-н, Криничный с/с",
                    "Бобовичи аг. Гомельская обл., Гомельский р-н, Бобовичский с/с",
                    "Бобренята д. Гомельская обл., Мозырьский р-н, Козенский с/с",
                    "Бобруйск г. Могилевская обл.",
                    "Богатырево д. Минская обл., Минский р-н, Щомыслицкий с/с",
                    "Богатырская д. Витебская обл., Полоцкий р-н, Солоникский с/с",
                    "Богушевск гп Витебская обл., Сенненский р-н",
                    "Болбасово гп Витебская обл., Оршанский р-н",
                    "Большая Берестовица гпГродненская обл., Берестовицкий р-н",
                    "Большая Боровка д.Могилевская обл., Могилевский р-н, Кадинский с/с",
                    "Большая Каплица д.Гродненская обл., Гродненский р-н, Путришковский с/с",
                    "Большая Колпеница д.Брестская обл., Барановичский р-н, Колпеницкий с/с",
                    "Большая Курница д.Брестская обл., Брестский р-н, Чернинский с/с",
                    "Большевик аг. Минская обл., Минский р-н, Папернянский с/с",
                    "Большевик рп Гомельская обл., Гомельский р-н",
                    "Большие Косичи д.Брестская обл., Брестский р-н, Чернинский с/с",
                    "Большие Лепесы д.Брестская обл., Кобринский р-н, Буховичский с/с",
                    "Большие Мотыкалы аг.Брестская обл., Брестский р-н, Мотыкальский с/с",
                    "Большое Можейково аг.Гродненская обл., Щучинский р-н, Можейковский с/с",
                    "Большое Стиклево д.Минская обл., Минский р-н, Новодворский с/с",
                    "Большой Тростенец д.Минская обл., Минский р-н, Новодворский с/с",
                    "Борисов г. Минская обл., Борисовский р-н",
                    "Боровая д. Минская обл., Минский р-н, Боровлянский с/с",
                    "Боровляны д. Минская обл., Минский р-н, Боровлянский с/с",
                    "Боровуха гп Витебская обл., Полоцкий р-н",
                    "Брагин гп Гомельская обл., Брагинский р-н",
                    "Брановичи д. Минская обл., Слуцкий р-н, Серяжский с/с",
                    "Браслав г. Витебская обл., Браславский р-н",
                    "Брест г. Брестская обл.",
                    "Брилево д. Брестская обл., Кобринский р-н, Киселевецкий с/с",
                    "Бродница аг. Брестская обл., Ивановский р-н, Бродницкий с/с",
                    "Буда-Кошелево г. Гомельская обл., Буда-Кошелевский р-н",
                    "Буйничи аг. Могилевская обл., Могилевский р-н, Буйничский с/с",
                    "Булавки д. Гомельская обл., Мозырьский р-н, Козенский с/с",
                    "Быстрица д. Брестская обл., Кобринский р-н, Залесский с/с",
                    "Быхов г. Могилевская обл., Быховский р-н",
                    "Валерьяново д. Минская обл., Минский р-н, Боровлянский с/с",
                    "Василишки аг. Гродненская обл., Щучинский р-н, Василишковский с/с",
                    "Вейно аг. Могилевская обл., Могилевский р-н, Вейнянский с/с",
                    "Вертелишки аг. Гродненская обл., Гродненский р-н, Вертелишковский с/с",
                    "Верхнедвинск г. Витебская обл., Верхнедвинский р-н",
                    "Веснянка п. Витебская обл., Полоцкий р-н, Экиманский с/с",
                    "Ветка г. Гомельская обл., Ветковский р-н",
                    "Ветрино гп Витебская обл., Полоцкий р-н",
                    "Видзы гп Витебская обл., Браславский р-н",
                    "Видомля аг. Брестская обл., Каменецкий р-н, Видомлянский с/с",
                    "Вилейка г. Минская обл., Вилейский р-н",
                    "Винковцы д. Гродненская обл., Лидский р-н, Третьяковский с/с",
                    "Витебск г. Витебская обл.",
                    "Витьба п. Витебская обл., Витебский р-н, Бабиничский с/с",
                    "Вишевичи д. Брестская обл., Пинский р-н, Пинковичский с/с",
                    "Волковыск г. Гродненская обл., Волковысский р-н",
                    "Воложин г. Минская обл., Воложинский р-н",
                    "Воробьевичи д. Гродненская обл., Слонимский р-н, Василевичский с/с",
                    "Вороново гп Гродненская обл., Вороновский р-н",
                    "Воропаево гп Витебская обл., Поставский р-н",
                    "Высокое г. Брестская обл., Каменецкий р-н",
                    "Вытроповщина д. Минская обл., Молодеченский р-н, Тюрлевский с/с",
                    "Галево д. Брестская обл., Пинский р-н, Оснежицкий с/с",
                    "Гамзелево д. Витебская обл., Полоцкий р-н, Боровухский с/с",
                    "Ганцевичи г. Брестская обл., Ганцевичский р-н",
                    "Гатово аг. Минская обл., Минский р-н, Новодворский с/с",
                    "Гвоздово д. Витебская обл., Полоцкий р-н, Боровухский с/с",
                    "Гибуличи д. Гродненская обл., Гродненский р-н, Ко ёвский с/с",
                    "Гирово д. Брестская обл., Барановичский р-н, Колпеницкий с/с",
                    "Глинище д. Брестская обл., Барановичский р-н, Малаховецкий с/с",
                    "Глинка аг. Брестская обл., Столинский р-н, Глинковский с/с",
                    "Глубокое г. Витебская обл., Глубокский р-н",
                    "Глуск гп Могилевская обл., Глусский р-н",
                    "Гожа аг. Гродненская обл., Гродненский р-н, Гожский с/с",
                    "Гомель г. Гомельская обл.",
                    "Горки г. Могилевская обл., Горецкий р-н",
                    "Горни д. Гродненская обл., Лидский р-н, Третьяковский с/с",
                    "Городея гп Минская обл., Несвижский р-н",
                    "Городище п. Минская обл., Минский р-н, Колодищанский с/с",
                    "Городок г. Витебская обл., Городокский р-н",
                    "Городок д. Могилевская обл., Могилевский р-н, Буйничский с/с",
                    "Городщина д. Могилевская обл., Могилевский р-н, Буйничский с/с",
                    "Гродно г. Гродненская обл.",
                    "Гуды аг. Гродненская обл., Лидский р-н, Круповский с/с",
                    "Гурины д. Гомельская обл., Мозырьский р-н, Криничный с/с",
                    "Давид-Городок г. Брестская обл., Столинский р-н",
                    "Даньковичи д. Могилевская обл., Шкловский р-н, Рыжковичский с/с",
                    "Дарево аг. Брестская обл., Ляховичский р-н, Коньковский с/с",
                    "Дачная д. Витебская обл., Оршанский р-н, Заболотский с/с",
                    "Дворицкая Слобода д.Минская обл., Минский р-н, Щомыслицкий с/с",
                    "Дегтяревка д. Минская обл., Минский р-н, Ждановичский с/с",
                    "Дзержинск г. Минская обл., Дзержинский р-н",
                    "Дисна г. Витебская обл., Миорский р-н",
                    "Дитва аг. Гродненская обл., Лидский р-н, Дитвянский с/с",
                    "Добрая Воля д. Брестская обл., Пинский р-н, Оснежицкий с/с",
                    "Добруш г. Гомельская обл., Добрушский р-н",
                    "Докшицы г. Витебская обл., Докшицкий р-н",
                    "Должа д. Витебская обл., Витебский р-н, Мазоловский с/с",
                    "Долина д. Гродненская обл., Лидский р-н, Третьяковский с/с",
                    "Доманово аг. Брестская обл., Ивацевичский р-н, Домановский с/с",
                    "Домачево гп Брестская обл., Брестский р-н",
                    "Доржи д. Гродненская обл., Лидский р-н, Гончарский с/с",
                    "Дрибин гп Могилевская обл., Дрибинский р-н",
                    "Дрогичин г. Брестская обл., Дрогичинский р-н",
                    "Дроздово д. Минская обл., Минский р-н, Боровлянский с/с",
                    "Дрозды д. Гомельская обл., Мозырьский р-н, Козенский с/с",
                    "Дружный п. Минская обл., Пуховичский р-н, Свислочский поселковый Совет с/с",
                    "Дубеи д. Минская обл., Солигорский р-н, Краснодворский с/с",
                    "Дубовляны д. Минская обл., Минский р-н, Папернянский с/с",
                    "Дубово д. Брестская обл., Барановичский р-н, Колпеницкий с/с",
                    "Дубовый Лес д. Минская обл., Минский р-н, Михановичский с/с",
                    "Дубровно г. Витебская обл., Дубровенский р-н",
                    "Дудичи аг. Гомельская обл., Калинковичский р-н, Дудичский с/с",
                    "Дукора аг. Минская обл., Пуховичский р-н, Дукорский с/с",
                    "Дятлово г. Гродненская обл., Дятловский р-н",
                    "Едки аг. Гродненская обл., Лидский р-н, Третьяковский с/с",
                    "Елизово рп Могилевская обл., Осиповичский р-н",
                    "Ельск г. Гомельская обл., Ельский р-н",
                    "Еремино аг. Гомельская обл., Гомельский р-н, Ереминский с/с",
                    "Жабинка г. Брестская обл., Жабинковский р-н",
                    "Жабчицы д. Брестская обл., Пинский р-н, Молотковичский с/с",
                    "Ждановичи аг. Минская обл., Минский р-н, Ждановичский с/с",
                    "Жемчужный аг. Брестская обл., Барановичский р-н, Жемчужненский с/с",
                    "Жировичи аг. Гродненская обл., Слонимский р-н, Жировичский с/с",
                    "Житковичи г. Гомельская обл., Житковичский р-н",
                    "Жлобин г. Гомельская обл., Жлобинский р-н",
                    "Жмуровка д. Гомельская обл., Речицкий р-н, Жмуровский с/с",
                    "Жодино г. Минская обл.",
                    "Жуков Луг д. Минская обл., Минский р-н, Боровлянский с/с",
                    "Забродские д. Минская обл., Солигорский р-н, Чижевичский с/с",
                    "Залейки д. Гродненская обл., Ивьевский р-н, Моринский с/с",
                    "Залипье д. Гомельская обл., Гомельский р-н, Урицкий с/с",
                    "Заполье д. Брестская обл., Пинский р-н, Оснежицкий с/с",
                    "Заславль г. Минская обл., Минский р-н",
                    "Затишье д. Могилевская обл., Могилевский р-н, Вейнянский с/с",
                    "Захаричи д. Минская обл., Минский р-н, Петришковский с/с",
                    "Зацень д. Минская обл., Минский р-н, Папернянский с/с",
                    "Зельва гп Гродненская обл., Зельвенский р-н",
                    "Иваново г. Брестская обл., Ивановский р-н",
                    "Ивацевичи г. Брестская обл., Ивацевичский р-н",
                    "Ивенец гп Минская обл., Воложинский р-н",
                    "Ивье г. Гродненская обл., Ивьевский р-н",
                    "Индура аг. Гродненская обл., Гродненский р-н, Индурский с/с",
                    "Ипуть п. Гомельская обл., Гомельский р-н, Улуковский с/с",
                    "Калинино д. Могилевская обл., Бобруйский р-н, Сычковский с/с",
                    "Калинковичи г. Гомельская обл., Калинковичский р-н",
                    "Каменец г. Брестская обл., Каменецкий р-н",
                    "Каменка д. Могилевская обл., Бобруйский р-н, Слободковский с/с",
                    "Каменная Горка д. Минская обл., Минский р-н, Ждановичский с/с",
                    "Квасовка аг. Гродненская обл., Гродненский р-н, Квасовский с/с",
                    "Кенти д. Гродненская обл., Лидский р-н, Третьяковский с/с",
                    "Кировск г. Могилевская обл., Кировский р-н",
                    "Кировская аг. Витебская обл., Витебский р-н, Летчанский с/с",
                    "Клейники аг. Брестская обл., Брестский р-н, Клейниковский с/с",
                    "Клецк г. Минская обл., Клецкий р-н",
                    "Климовичи г. Могилевская обл., Климовичский р-н",
                    "Климовичи д. Минская обл., Минский р-н, Новодворский с/с",
                    "Кличев г. Могилевская обл., Кличевский р-н",
                    "Кобрин г. Брестская обл., Кобринский р-н",
                    "Ковердяки д. Брестская обл., Брестский р-н, Мотыкальский с/с",
                    "Козенки д. Гомельская обл., Мозырьский р-н, Козенский с/с",
                    "Козловичи аг. Минская обл., Слуцкий р-н, Козловичский с/с",
                    "Козловичи д. Брестская обл., Брестский р-н, Чернавчицкий с/с",
                    "Коллективная д. Витебская обл., Полоцкий р-н, Боровухский с/с",
                    "Колодищи аг. Минская обл., Минский р-н, Колодищанский с/с",
                    "Колядичи д. Минская обл., Минский р-н, Сеницкий с/с",
                    "Комаровка д. Брестская обл., Брестский р-н, Томашовский с/с",
                    "Коминтерн д. Могилевская обл., Могилевский р-н, Полыковичский с/с",
                    "Копиевичи д. Минская обл., Минский р-н, Сеницкий с/с",
                    "Копище д. Минская обл., Минский р-н, Боровлянский с/с",
                    "Ко евка аг. Гродненская обл., Гродненский р-н, Ко ёвский с/с",
                    "Ко ево д. Витебская обл., Полоцкий р-н, Боровухский с/с",
                    "Копыль г. Минская обл., Копыльский р-н",
                    "Кореличи гп Гродненская обл., Кореличский р-н",
                    "Корма гп Гомельская обл., Кормянский р-н",
                    "Коробчицы д. Гродненская обл., Гродненский р-н, Ко ёвский с/с",
                    "Королев Стан д. Минская обл., Минский р-н, Боровлянский с/с",
                    "Королищевичи д. Минская обл., Минский р-н, Новодворский с/с",
                    "Коссово г. Брестская обл., Ивацевичский р-н",
                    "Костюковичи г. Могилевская обл., Костюковичский р-н",
                    "Костюковка д. Гомельская обл., Гомельский р-н, Ереминский с/с",
                    "Костюковка рп Гомельская обл., Гомельский р-н",
                    "Коханово гп Витебская обл., Толочинский р-н",
                    "Красное аг. Гомельская обл., Гомельский р-н, Красненский с/с",
                    "Красное д. Минская обл., Молодеченский р-н, Красненский с/с",
                    "Краснополье гп Могилевская обл., Краснопольский р-н",
                    "Краснополье- д. Могилевская обл., Могилевский р-н, Полыковичский с/с",
                    "Красносельский гп Гродненская обл., Волковысский р-н",
                    "Красный Маяк п. Гомельская обл., Гомельский р-н, Урицкий с/с",
                    "Криничный п. Гомельская обл., Мозырьский р-н, Криничный с/с",
                    "Кричев г. Могилевская обл., Кричевский р-н",
                    "Круглое гп Могилевская обл., Круглянский р-н",
                    "Крулевщина аг. Витебская обл., Докшицкий р-н, Крулевщинский с/с",
                    "Крупки г. Минская обл., Крупский р-н",
                    "Ксты д. Витебская обл., Полоцкий р-н, Экиманский с/с",
                    "Кулаки д. Минская обл., Солигорский р-н, Чижевичский с/с",
                    "Лебедёвка д. Гомельская обл., Жлобинский р-н, Лукский с/с",
                    "Лельчицы гп Гомельская обл., Лельчицкий р-н",
                    "Ленинский аг. Брестская обл., Жабинковский р-н, Ленинский с/с",
                    "Лепель г. Витебская обл., Лепельский р-н",
                    "Лесковка д. Минская обл., Минский р-н, Боровлянский с/с",
                    "Лесная аг. Брестская обл., Барановичский р-н, Леснянский с/с",
                    "Лесной аг. Минская обл., Минский р-н, Боровлянский с/с",
                    "Лида г. Гродненская обл., Лидский р-н",
                    "Лиозно гп Витебская обл., Лиозненский р-н",
                    "Логишин гп Брестская обл., Пинский р-н",
                    "Логойск г. Минская обл., Логойский р-н",
                    "Лоев гп Гомельская обл., Лоевский р-н",
                    "Ломы д. Могилевская обл., Бобруйский р-н, Вишневский с/с",
                    "Лопатино д. Гомельская обл., Гомельский р-н, Поколюбичский с/с",
                    "Лошница аг. Минская обл., Борисовский р-н, Лошницкий с/с",
                    "Луговая Слобода аг. Минская обл., Минский р-н, Луговослободской с/с",
                    "Лунинец г. Брестская обл., Лунинецкий р-н",
                    "Любань г. Минская обл., Любанский р-н",
                    "Любель-Поль д. Брестская обл., Пинский р-н, Оснежицкий с/с",
                    "Любуж д. Могилевская обл., Могилевский р-н, Кадинский с/с",
                    "Лясковичи д. Брестская обл., Ивановский р-н, Лясковичский с/с",
                    "Ляховичи г. Брестская обл., Ляховичский р-н",
                    "Магдалин д. Брестская обл., Кобринский р-н, Киселевецкий с/с",
                    "Мазолово аг. Витебская обл., Витебский р-н, Мазоловский с/с",
                    "Малая Каплица д. Гродненская обл., Гродненский р-н, Путришковский с/с",
                    "Малая Колпеница д.Брестская обл., Барановичский р-н, Колпеницкий с/с",
                    "Малая Курница д. Брестская обл., Брестский р-н, Чернавчицкий с/с",
                    "Малейковщизна д. Гродненская обл., Лидский р-н, Круповский с/с",
                    "Малиновка д. Минская обл., Минский р-н, Боровлянский с/с",
                    "Малиновка д. Минская обл., Минский р-н, Щомыслицкий с/с",
                    "Малорита г. Брестская обл., Малоритский р-н",
                    "Малые Косичи д. Брестская обл., Брестский р-н, Тельминский с/с",
                    "Малые Лепесы д. Брестская обл., Кобринский р-н, Буховичский с/с",
                    "Малые Мотыкалы д.Брестская обл., Брестский р-н, Мотыкальский с/с",
                    "Маньковичи д. Брестская обл., Столинский р-н, Маньковичский с/с",
                    "Марьина Горка г. Минская обл., Пуховичский р-н",
                    "Марьяливо д. Минская обл., Минский р-н, Острошицко-Городокский с/с",
                    "Мачулищи гп Минская обл., Минский р-н",
                    "Мачулищи д. Минская обл., Минский р-н, Мачулищанский поссовет с/с",
                    "Медков п. Гомельская обл., Светлогорский р-н, Чирковичский с/с",
                    "Междуречье п. Витебская обл., Полоцкий р-н, Боровухский с/с",
                    "Межисетки аг. Могилевская обл., Могилевский р-н, Дашковский с/с",
                    "Менютки д. Минская обл., Молодеченский р-н, Тюрлевский с/с",
                    "Микашевичи г. Брестская обл., Лунинецкий р-н",
                    "Минойты д. Гродненская обл., Лидский р-н, Третьяковский с/с",
                    "Минск (Сокол) г. Минская обл., Смолевичский р-н",
                    "Минск (Сосны) г. Минская обл., Минский р-н",
                    "Минск г. Минск обл.",
                    "Миоры г. Витебская обл., Миорский р-н",
                    "Мир гп Гродненская обл., Кореличский р-н",
                    "Михалки п. Гомельская обл., Мозырьский р-н, Михалковский с/с",
                    "Михановичи аг. Минская обл., Минский р-н, Михановичский с/с",
                    "Михановичи д. Минская обл., Минский р-н, Михановичский с/с",
                    "Михейки д. Минская обл., Слуцкий р-н, Бокшицкий с/с",
                    "Мичуринская аг. Гомельская обл., Гомельский р-н, Красненский с/с",
                    "Могилев г. Могилевская обл.",
                    "Можейково аг. Гродненская обл., Лидский р-н, Можейковский с/с",
                    "Мозырь г. Гомельская обл., Мозырьский р-н",
                    "Молодечно г. Минская обл., Молодеченский р-н",
                    "Мосты г. Гродненская обл., Мостовский р-н",
                    "Мосты Левые д. Гродненская обл., Мостовский р-н, Мостовский с/с",
                    "Мосты Правые аг. Гродненская обл., Мостовский р-н, Мостовский с/с",
                    "Мотыкалы х. Брестская обл., Брестский р-н, Мотыкальский с/с",
                    "Мстиславль г. Могилевская обл., Мстиславский р-н",
                    "Мухавец аг. Брестская обл., Брестский р-н, Мухавецкий с/с",
                    "Мядель г. Минская обл., Мядельский р-н",
                    "Нагорные д. Гомельская обл., Мозырьский р-н, Козенский с/с",
                    "Наровля г. Гомельская обл., Наровлянский р-н",
                    "Наровчизна д. Гомельская обл., Мозырьский р-н, Козенский с/с",
                    "Нарочь аг. Минская обл., Мядельский р-н, Нарочский с/с",
                    "Нарочь кп Минская обл., Мядельский р-н",
                    "Наумовичи д. Гродненская обл., Гродненский р-н, Подлабенский с/с",
                    "Национальный Аэропорт Минск тер.Минская обл., Смолевичский р-н",
                    "Негорелое аг. Минская обл., Дзержинский р-н, Негорельский с/с",
                    "Несвиж г. Минская обл., Несвижский р-н",
                    "Николаевка  д. Могилевская обл., Могилевский р-н, Полыковичский с/с",
                    "Николаевка  д. Могилевская обл., Могилевский р-н, Полыковичский с/с",
                    "Николаевка  д. Могилевская обл., Могилевский р-н, Полыковичский с/с",
                    "Новая Антоновка д.Гомельская обл., Калинковичский р-н, Горбовичский с/с",
                    "Новая Гожа д. Гродненская обл., Гродненский р-н, Гожский с/с",
                    "Новая Мильча д. Гомельская обл., Гомельский р-н, Красненский с/с",
                    "Новая Мышь д. Брестская обл., Барановичский р-н, Новомышский с/с",
                    "Новики д. Гомельская обл., Мозырьский р-н, Козенский с/с",
                    "Новка аг. Витебская обл., Витебский р-н, Новкинский с/с",
                    "Новогрудок г. Гродненская обл., Новогрудский р-н",
                    "Новое Пашково д. Могилевская обл., Могилевский р-н, Пашковский с/с",
                    "Новоельня гп Гродненская обл., Дятловский р-н",
                    "Новокуковячино д. Витебская обл., Витебский р-н, Новкинский с/с",
                    "Новолукомль г. Витебская обл., Чашникский р-н",
                    "Новополоцк г. Витебская обл.",
                    "Новоселки д. Брестская обл., Березовский р-н, Берёзовский с/с",
                    "Новосёлки д. Могилевская обл., Могилевский р-н, Вейнянский с/с",
                    "Новый Двор аг. Минская обл., Минский р-н, Новодворский с/с",
                    "Новый Двор д. Минская обл., Минский р-н, Щомыслицкий с/с",
                    "Носилово д. Минская обл., Молодеченский р-н, Тюрлевский с/с",
                    "Оболь гп Витебская обл., Шумилинский р-н",
                    "Обуховичи д. Гродненская обл., Гродненский р-н, Обуховский с/с",
                    "Обухово аг. Гродненская обл., Гродненский р-н, Обуховский с/с",
                    "Обчак д. Минская обл., Минский р-н, Луговослободской с/с",
                    "Огородники д. Гродненская обл., Лидский р-н, Дубровенский с/с",
                    "Озерцо аг. Минская обл., Минский р-н, Щомыслицкий с/с",
                    "Озерцы аг. Витебская обл., Толочинский р-н, Озерецкий с/с",
                    "Озерщина д. Гомельская обл., Речицкий р-н, Озерщинский с/с",
                    "Озеры аг. Гродненская обл., Гродненский р-н, Озерский с/с",
                    "Октябрьская аг. Витебская обл., Витебский р-н, Октябрьский с/с",
                    "Октябрьский гп Гомельская обл., Октябрьский р-н",
                    "Октябрьский п. Минская обл., Смолевичский р-н, Плисский с/с",
                    "Олекшицы аг. Гродненская обл., Берестовицкий р-н, Олекшицкий с/с",
                    "Ольгово аг. Витебская обл., Витебский р-н, Бабиничский с/с",
                    "Ольшаны аг. Брестская обл., Столинский р-н, Ольшанский с/с",
                    "Опытный п. Минская обл., Минский р-н, Боровлянский с/с",
                    "Ореховка д. Гродненская обл., Сморгонский р-н, Кореневский с/с",
                    "Ореховск гп. Витебская обл., Оршанский р-н",
                    "Орша г. Витебская обл., Оршанский р-н",
                    "Осиповичи г. Могилевская обл., Осиповичский р-н",
                    "Оснежицы аг. Брестская обл., Пинский р-н, Оснежицкий с/с",
                    "Осовцы д. Гомельская обл., Гомельский р-н, Бобовичский с/с",
                    "Острино гп Гродненская обл., Щучинский р-н",
                    "Островец г. Гродненская обл., Островецкий р-н",
                    "Островля д. Гродненская обл., Лидский р-н, Третьяковский с/с",
                    "Островляны д. Брестская обл., Кобринский р-н, Хидринский с/с",
                    "Остромечево аг. Брестская обл., Брестский р-н, Лыщицкий с/с",
                    "Острошицкий Городок аг.Минская обл., Минский р-н, Острошицко-Городокский с/с",
                    "Ошмяны г. Гродненская обл., Ошмянский р-н",
                    "Паричи гп Гомельская обл., Светлогорский р-н",
                    "Пашковичи д. Минская обл., Минский р-н, Новодворский с/с",
                    "Первомайский п. Гродненская обл., Лидский р-н, Дубровенский с/с",
                    "Пески  д. Брестская обл., Кобринский р-н, Хидринский с/с",
                    "Пески аг. Брестская обл., Кобринский р-н, Хидринский с/с",
                    "Петриков г. Гомельская обл., Петриковский р-н",
                    "Пинковичи д. Брестская обл., Пинский р-н, Пинковичский с/с",
                    "Пинск г. Брестская обл.",
                    "Плещеницы гп Минская обл., Логойский р-н",
                    "Плещицы аг. Брестская обл., Пинский р-н, Плещицкий с/с",
                    "Плиса д. Минская обл., Смолевичский р-н, Плисский с/с",
                    "Победа п. Гомельская обл., Гомельский р-н, Улуковский с/с",
                    "Пограничный аг. Гродненская обл., Берестовицкий р-н, Пограничный с/с",
                    "Подлосье д. Минская обл., Минский р-н, Новодворский с/с",
                    "Подосье д. Брестская обл., Березовский р-н, Берёзовский с/с",
                    "Поколюбичи аг. Гомельская обл., Гомельский р-н, Поколюбичский с/с",
                    "Половинный Лог д.Могилевская обл., Могилевский р-н, Полыковичский с/с",
                    "Полоцк г. Витебская обл., Полоцкий р-н",
                    "Полыковичи  д. Могилевская обл., Могилевский р-н, Полыковичский с/с",
                    "Полыковичи аг. Могилевская обл., Могилевский р-н, Полыковичский с/с",
                    "Поляна п. Гомельская обл., Гомельский р-н, Ченковский с/с",
                    "Посеничи д. Брестская обл., Пинский р-н, Оснежицкий с/с",
                    "Поставы г. Витебская обл., Поставский р-н",
                    "Почапово д. Брестская обл., Пинский р-н, Городищенский с/с",
                    "Приборово д. Брестская обл., Брестский р-н, Томашовский с/с",
                    "Привольный п. Минская обл., Минский р-н, Луговослободской с/с",
                    "Пригородная д. Гомельская обл., Речицкий р-н, Жмуровский с/с",
                    "Прилесье д. Минская обл., Минский р-н, Луговослободской с/с",
                    "Приозерский п. Брестская обл., Каменецкий р-н, Видомлянский с/с",
                    "Присно  д. Могилевская обл., Могилевский р-н, Пашковский с/с",
                    "Присно  д. Могилевская обл., Могилевский р-н, Пашковский с/с",
                    "Прудок д. Гомельская обл., Мозырьский р-н, Прудковский с/с",
                    "Пружаны г. Брестская обл., Пружанский р-н",
                    "Путришки аг. Гродненская обл., Гродненский р-н, Путришковский с/с",
                    "Пуховичи аг. Минская обл., Пуховичский р-н, Пуховичский с/с",
                    "Пушкари д. Гродненская обл., Гродненский р-н, Подлабенский с/с",
                    "Радково д. Минская обл., Солигорский р-н, Краснодворский с/с",
                    "Радошковичи гп Минская обл., Молодеченский р-н",
                    "Радунь гп Гродненская обл., Вороновский р-н",
                    "Райста д. Гродненская обл., Гродненский р-н, Гожский с/с",
                    "Раков аг. Минская обл., Воложинский р-н, Раковский с/с",
                    "Ратомка аг. Минская обл., Минский р-н, Ждановичский с/с",
                    "Речица г. Гомельская обл., Речицкий р-н",
                    "Речица рп Брестская обл., Столинский р-н",
                    "Рогачев г. Гомельская обл., Рогачевский р-н",
                    "Рожанка п. Гродненская обл., Щучинский р-н, Рожанковский с/с",
                    "Розановщина д. Гродненская обл., Слонимский р-н, Василевичский с/с",
                    "Романовичи д. Гомельская обл., Гомельский р-н, Улуковский с/с",
                    "Ропно д. Витебская обл., Полоцкий р-н, Боровухский с/с",
                    "Россоны гп Витебская обл., Россонский р-н",
                    "Россь гп Гродненская обл., Волковысский р-н",
                    "Руба гп Витебская обл., Витебский р-н",
                    "Руденск гп Минская обл., Пуховичский р-н",
                    "Ружаны гп Брестская обл., Пружанский р-н",
                    "Русино аг. Брестская обл., Барановичский р-н, Великолукский с/с",
                    "Садовый п. Брестская обл., Пинский р-н, Молотковичский с/с",
                    "Салтановка д. Могилевская обл., Могилевский р-н, Дашковский с/с",
                    "Самохваловичи аг. Минская обл., Минский р-н, Самохваловичский с/с",
                    "Самохваловичи д. Минская обл., Минский р-н, Самохваловичский с/с",
                    "Светлогорск г. Гомельская обл., Светлогорский р-н",
                    "Свислочь аг. Могилевская обл., Осиповичский р-н, Свислочский с/с",
                    "Свислочь г. Гродненская обл., Свислочский р-н",
                    "Свислочь гп Минская обл., Пуховичский р-н",
                    "Севруки д. Гомельская обл., Гомельский р-н, Ченковский с/с",
                    "Секеровщина д. Витебская обл., Полоцкий р-н, Солоникский с/с",
                    "Селиба д. Могилевская обл., Бобруйский р-н, Вишневский с/с",
                    "Сеница аг. Минская обл., Минский р-н, Сеницкий с/с",
                    "Сенно г. Витебская обл., Сенненский р-н",
                    "Серафимово д. Минская обл., Минский р-н, Михановичский с/с",
                    "Синявка аг. Минская обл., Клецкий р-н, Синявский с/с",
                    "Ситня д. Гомельская обл., Калинковичский р-н, Дудичский с/с",
                    "Скидель г. Гродненская обл., Гродненский р-н",
                    "Скоки д. Брестская обл., Брестский р-н, Мотыкальский с/с",
                    "Славгород г. Могилевская обл., Славгородский р-н",
                    "Слобода д. Минская обл., Минский р-н, Самохваловичский с/с",
                    "Слободка д. Могилевская обл., Бобруйский р-н, Слободковский с/с",
                    "Слоним г. Гродненская обл., Слонимский р-н",
                    "Слуцк г. Минская обл., Слуцкий р-н",
                    "Смиловичи гп Минская обл., Червенский р-н",
                    "Смолевичи г. Минская обл., Смолевичский р-н",
                    "Сморгонь г. Гродненская обл., Сморгонский р-н",
                    "Снов аг. Минская обл., Несвижский р-н, Сновский с/с",
                    "Соколово аг. Брестская обл., Березовский р-н, Соколовский с/с",
                    "Сокольники д. Витебская обл., Витебский р-н, Октябрьский с/с",
                    "Солигорск г. Минская обл., Солигорский р-н",
                    "Солнечный п. Минская обл., Минский р-н, Боровлянский с/с",
                    "Солоное д. Гомельская обл., Жлобинский р-н, Солонский с/с",
                    "Сорочино д. Витебская обл., Ушачский р-н, Сорочинский с/с",
                    "Сосновый п. Гомельская обл., Мозырьский р-н, Каменский с/с",
                    "Ставок д. Брестская обл., Пинский р-н, Ставокский с/с",
                    "Старинцы д. Витебская обл., Витебский р-н, Шапечинский с/с",
                    "Старобин гп Минская обл., Солигорский р-н",
                    "Старое Пашково д. Могилевская обл., Могилевский р-н, Пашковский с/с",
                    "Старое Село д. Брестская обл., Брестский р-н, Мотыкальский с/с",
                    "Старые Дороги г. Минская обл., Стародорожский р-н",
                    "Столбцы г. Минская обл., Столбцовский р-н",
                    "Столин г. Брестская обл., Столинский р-н",
                    "Сухорукие п. Минская обл., Минский р-н, Колодищанский с/с",
                    "Сычково д. Могилевская обл., Бобруйский р-н, Сычковский с/с",
                    "Таборы д. Минская обл., Минский р-н, Хатежинский с/с",
                    "Тарасово д. Минская обл., Минский р-н, Ждановичский с/с",
                    "Телеханы гп Брестская обл., Ивацевичский р-н",
                    "Тельмы- д. Брестская обл., Брестский р-н, Тельминский с/с",
                    "Тельмы- д. Брестская обл., Брестский р-н, Тельминский с/с",
                    "Тимоново аг. Могилевская обл., Климовичский р-н, Тимоновский с/с",
                    "Тишовка д. Могилевская обл., Могилевский р-н, Буйничский с/с",
                    "Толочин г. Витебская обл., Толочинский р-н",
                    "Томашовка аг. Брестская обл., Брестский р-н, Томашовский с/с",
                    "Топилишки аг. Гродненская обл., Щучинский р-н, Лядский с/с",
                    "Тригубцы д. Витебская обл., Витебский р-н, Мазоловский с/с",
                    "Туголица п. Могилевская обл., Бобруйский р-н, Слободковский с/с",
                    "Тулово ок. Витебская обл., Витебский р-н, Туловский с/с",
                    "Туров г. Гомельская обл., Житковичский р-н",
                    "Тюрли д. Минская обл., Молодеченский р-н, Тюрлевский с/с",
                    "Тюхиничи д. Брестская обл., Брестский р-н, Мотыкальский с/с",
                    "Углы д. Минская обл., Борисовский р-н, Пригородный с/с",
                    "Узда г. Минская обл., Узденский р-н",
                    "Узноги д. Брестская обл., Барановичский р-н, Малаховецкий с/с",
                    "Улуковье аг. Гомельская обл., Гомельский р-н, Улуковский с/с",
                    "Урицкое аг. Гомельская обл., Гомельский р-н, Урицкий с/с",
                    "Урожайная д. Минская обл., Минский р-н, Сеницкий с/с",
                    "Ушачи гп Витебская обл., Ушачский р-н",
                    "Фаниполь г. Минская обл., Дзержинский р-н",
                    "Федоры аг. Брестская обл., Столинский р-н, Федорский с/с",
                    "Федьковичи д. Брестская обл., Жабинковский р-н, Ракитницкий с/с",
                    "Хатежино аг. Минская обл., Минский р-н, Хатежинский с/с",
                    "Хойники г. Гомельская обл., Хойникский р-н",
                    "Хомяково д. Витебская обл., Городокский р-н, Первомайский с/с",
                    "Хотимск гп Могилевская обл., Хотимский р-н",
                    "Цна д. Минская обл., Минский р-н, Папернянский с/с",
                    "Цнянка д. Минская обл., Минский р-н, Папернянский с/с",
                    "Чаусы г. Могилевская обл., Чаусский р-н",
                    "Чашники г. Витебская обл., Чашникский р-н",
                    "Ченки п. Гомельская обл., Гомельский р-н, Ченковский с/с",
                    "Червень г. Минская обл., Червенский р-н",
                    "Черемушки д. Могилевская обл., Могилевский р-н, Кадинский с/с",
                    "Черемушкино д. Витебская обл., Полоцкий р-н, Солоникский с/с",
                    "Чериков г. Могилевская обл., Чериковский р-н",
                    "Чернавчицы аг. Брестская обл., Брестский р-н, Чернавчицкий с/с",
                    "Чернеевичи д. Брестская обл., Пинский р-н, Молотковичский с/с",
                    "Чернещино д. Витебская обл., Полоцкий р-н, Боровухский с/с",
                    "Черни аг. Брестская обл., Брестский р-н, Чернинский с/с",
                    "Черноручье- д. Витебская обл., Полоцкий р-н, Экиманский с/с",
                    "Черноручье- д. Витебская обл., Полоцкий р-н, Экиманский с/с",
                    "Чеховцы д. Гродненская обл., Лидский р-н, Круповский с/с",
                    "Чеховщина д. Гродненская обл., Гродненский р-н, Ко ёвский с/с",
                    "Чечерск г. Гомельская обл., Чечерский р-н",
                    "Чижевичи д. Минская обл., Солигорский р-н, Чижевичский с/с",
                    "Чижовка д. Минская обл., Минский р-н, Папернянский с/с",
                    "Чирковичи аг. Гомельская обл., Светлогорский р-н, Чирковичский с/с",
                    "Шабаны д. Минская обл., Минский р-н, Новодворский с/с",
                    "Шарковщина гп Витебская обл., Шарковщинский р-н",
                    "Шебрин д. Брестская обл., Брестский р-н, Тельминский с/с",
                    "Шейбаки д. Гродненская обл., Лидский р-н, Третьяковский с/с",
                    "Шклов г. Могилевская обл., Шкловский р-н",
                    "Шумилино гп Витебская обл., Шумилинский р-н",
                    "Шуневцы д. Витебская обл., Глубокский р-н, Коробовский с/с",
                    "Щитомиричи д. Минская обл., Минский р-н, Сеницкий с/с",
                    "Щомыслица аг. Минская обл., Минский р-н, Щомыслицкий с/с",
                    "Щучин г. Гродненская обл., Щучинский р-н",
                    "Экимань- д. Витебская обл., Полоцкий р-н, Экиманский с/с",
                    "Экимань- д. Витебская обл., Полоцкий р-н, Экиманский с/с",
                    "Энергетиков п. Минская обл., Дзержинский р-н, Негорельский с/с",
                    "Юбилейный п. Гомельская обл., Гомельский р-н, Улуковский с/с",
                    "Юбилейный п. Минская обл., Минский р-н, Сеницкий с/с",
                    "Юшки д. Гомельская обл., Калинковичский р-н, Дудичский с/с",
                    "Яглевичи д. Брестская обл., Ивацевичский р-н, Яглевичский с/с",
                    "Якимова Слобода д.Гомельская обл., Светлогорский р-н, Боровиковский с/с",
                    "Якубовичи д. Минская обл., Минский р-н, Папернянский с/с",
                    "Ямно д. Брестская обл., Брестский р-н, Тельминский с/с",
                    "Янино д. Витебская обл., Верхнедвинский р-н, Бельковщинский с/с",
                    "Яновичи гп Витебская обл., Витебский р-н",
                    "Янтарный п. Гомельская обл., Гомельский р-н, Поколюбичский с/с",
                    "Ярково д. Минская обл., Минский р-н, Ждановичский с/с",
                    "Ясный Лес д. Могилевская обл., Бобруйский р-н, Химовский с/с"
                    ]
                     $scope.complete = function(string){  
                          $scope.hidethis = false;  
                          var output = [];  
                          angular.forEach($scope.cities, function(city){  
                               if(city.toLowerCase().indexOf(string.toLowerCase()) >= 0)  
                               {  
                                    output.push(city);  
                               }  
                          });  
                          $scope.filteredCities = output;  
                     }  
                     $scope.fillTextbox = function(city){  
                          $scope.country = city;  
                          $scope.hidethis = true;  
                     }  
                });  
 </script> 
      </body>  
 </html>  
 